<form class="card comment-form" [formGroup]="commentForm">
    <div class="card-block">
        <textarea class="form-control" formControlName="commentField" placeholder="Write a comment..." rows="3"></textarea>
    </div>
    <div class="card-footer">
        <img [src]="currentUserImage? currentUserImage: ''" class="comment-author-img" />
        <button class="btn btn-sm btn-primary" [disabled]="commentForm.invalid" (click)="addComment()">
            Post Comment
        </button>
    </div>
</form>