<div class="article-page" *ngIf="article">

    <div class="banner">
        <div class="container">
            <h1>{{article.title}}</h1>
            <app-article-meta></app-article-meta>
        </div>
    </div>

    <div class="container page">
        <app-article-content></app-article-content>
        <hr />
        <div class="article-actions">
            <app-article-meta *ngIf="article.body"></app-article-meta>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-8 offset-md-2">
                <app-comment-form></app-comment-form>
                <app-comment-list></app-comment-list>
            </div>
        </div>

    </div>

</div>